header{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	background-color:black;
	height: 100px; 
	border-bottom:yellow soild 3px;

}
.logo{
	color:yellow;
}
nav {
	/*justify-items:flex-end;*/
	align-self: 
}

nav ul li {
display: inline;
color: white;
}
.taste{
	text-decoration: Strik
}